.benefits {
    margin-top: 180px;
    @media (max-width: $desktop) {
        margin-top: 80px;
    }
    @media (max-width: $desktop) {
        margin-top: 70px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 52px;
        @media (max-width: $desktop) {
            row-gap: 32px;
        }
        @media (max-width: $desktop) {
            row-gap: 32px;
        }
    }
    &__item {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 26px;
        @media (max-width: $tablet) {
            row-gap: 15px;
        }
    }
    &__title {
        @include section_title();
    }
    &__text {
        max-width: 580px;
        @media (max-width: $desktop) {
            max-width: 480px;
        }
        @media (max-width: $tablet) {
            max-width: 340px;
        }
    }
}