$bg-color: #171738;
$text-color: #DFF3E4;
$accent-color: #4A35D4;
$accent-hover-color: #4128BF;
$bg-hover-color: #1E1E44;
$footer-color: #BAC2E4;

$title-font: 'Fira Sans', sans-serif;
$text-font: 'Inter', sans-serif;

$desktop: 1024px;
$tablet: 768px;
$phone: 460px;